@model FlowerWorld.Models.CategoryViewModel


@{
    ViewBag.Title = "Каталог продуктов";
}
<div class="row catalog-header">
    <div class="col-sm-12 text-center">
        <h1>Каталог товаров</h1>

    </div>
</div>
<div class="row catalog">
    <div class="col-sm-3 col-md-3 col-lg-3"></div>
    <div class="col-sm-8 col-md-8 col-lg-8 ">
        @foreach (var item in Model.CategoryList)
        {
            <div class="catalog-item text-center">
                <a href="@Url.Action("ProductItem","Catalog",new { @typeId = @item.Id})">
                    <img src="@Url.Content(@item.largePath)" />
                    <br />
                    <span>@item.CategoryName</span>
                </a>
            </div>
        }
    </div>
</div>

<div class="row catalog-text">
    <div class="col-sm-3 col-md-3 col-lg-3"></div>
    <div class="col-sm-8 col-md-8 col-lg-8 ">
        <p>Роскошная классика, модные тренды или художественные образы – всё это находит отражение в коллекциях магазина "Мир Цветов.</p>
        <p>Свадебная флористика представлена не только традиционными букетами невесты, но включает в себя весь спектр аксессуаров, украшений и композиций для молодожёнов, гостей торжества и праздника в целом.</p>
        <p>Великолепные букеты в сезонных и тематических коллекциях Мира Цветов  - особенный подарок с выраженной индивидуальностью и персональным посылом.</p>
        <p>Наши коллекции – это мелодии, окутанные лепестками,воплощение красивой мечты о том, что мир обязательно должен стать прекраснее</p>
        <p><strong>Букет невесты <br /></strong></p>
        <p>В преддверии самого волнительного дня в Вашей жизни мы рады предложить Вам заманчивую коллекцию готовых букетов, созданных с учётом актуальных трендов свадебной моды текущего сезона. Будьте уверены – Ваш уникальный букет не поблекнет к концу торжества и конца медового месяца, даже если Вы захватите его с собой на свадебную фотосессию в жаркие страны!</p>
        <p>Вы хотите совсем особенного букета? Наши стилисты и флористы будут рады  собрать букет только для Вас, и он отразит не только Вашу индивидуальность, но и подчеркнёт покрой именно Вашего свадебного убранства.</p>
        <p>Букеты-дублёры, бутоньерки для жениха, украшения для гостей и банкета в единой стилистике – мы ограничены только Вашей фантазией и пожеланиями.</p>
    </div>
</div>