<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Цветочный магазин - Мир Цветов.</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <meta name="description" content="The description of my page" />
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-3 col-md-3">
                <a href="@Url.Action("Index","Main")">
                    <img src="~/Content/Images/logo.jpg" alt="Мир Цветов" class="logo" />
                </a>
            </div>
            <div class="col-sm-9 col-lg-9 col-md-9 text-right">
               @Html.Partial("Search")
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12 menu">
                <ul>

                    <li><a href="@Url.Action("Index","Main")">Главная</a></li>
                    <li><a href="@Url.Action("Index","Catalog")">Каталог</a></li>
                    <li><a href="@Url.Action("About","Main")">О нас</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>
            </div>
        </div>

    </div>
    

    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer class="footer text-center">
            <img src="~/Content/Images/logo-footer.jpg" alt="" /> <br />
            <span>
                <a href="@Url.Action("Index","Main")">Главная   </a>
                <a href="@Url.Action("Index","Catalog")">Каталог   </a>
                <a href="@Url.Action("About","Main")">О нас   </a>
                <a href="#">Отзывы   </a>
            </span>

            <h4>Copyright © Мир Цветов 2017.</h4>
            
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
