<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Панель управления</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <meta name="description" content="The description of my page" />
</head>
<body class="admin-body">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
                    MENU
                </button>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand admin-logo" href="@Url.Action("Index","Admin")">
                    <h1>Мир Цветов</h1>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index","Main")" target="_blank">Перейти на сайт</a></li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @HttpContext.Current.User.Identity.Name
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                @Html.ActionLink("Выход", "Logout", "Auth",null,new { @class="fa fa-sign-out"})
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-md-2 sidebar">
                <div class="row">
                    <div class="absolute-wrapper"> </div>
                    <div class="side-menu">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="side-menu-container">
                                <ul class="nav navbar-nav">
                                    <li><a href="@Url.Action("Product","Admin")"><span class="fa fa-shopping-basket"></span>Управление каталогом</a></li>
                                    <li><a href="@Url.Action("Orders","Admin")"><span class="fa fa-phone"></span>Обработка заявок</a></li>
                                    <li class="panel panel-default" id="dropdown">
                                        <a data-toggle="collapse" href="#dropdown-lvl1">
                                            <span class="fa fa-table"></span>Работа со справочниками<span class="caret"></span>
                                        </a>
                                        <div id="dropdown-lvl1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="nav navbar-nav">
                                                    <li>
                                                        <a href="@Url.Action("Users","Admin")"><span class="fa fa-user"></span>Пользователи</a>
                                                    </li>
                                                    <li><a href="@Url.Action("Category","Admin")"><span class="fa fa-shopping-cart"></span>Тип продукции</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div> 
</body>
</html>